<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1>注册</h1>
<h1>{{ error }}</h1>
<form method="post">{% csrf_token %}
    <table>
        <tr>
            <td><label for="txtname"> 账号名:</label></td>
            <td><input type="text" name="register_username"/></td>
            <td>1.长度小于20位 2.必须由数字字母(包括大小写)组成 3.由字母打头</td>
        </tr>
        <tr>
            <td><label for="txtpswd">密码:</label></td>
            <td><input type="password" name="register_password"/></td>
            <td>1.长度小于16位 2.必须由数字、字母(包括大小写)、下划线组成</td>
        </tr>
        <tr>
            <td>
                用户类型：
                <input type="radio" checked="checked" name="checked" value="customer"/>发布需求方
                <input type="radio" name="checked" value="program"/> 开发方
                <input type="radio" name="checked" value="manager"/> 项目管理方
            </td>
        </tr>
        <tr>
            <td><label for="email">Email:</label></td>
            <td><input type="text" name="register_email"/></td>
        </tr>
        <tr>
            <td>
                个人简介：<br>
            <td><textarea name="register_information" rows="15" cols="30"></textarea></td>

        </tr>
        <tr>
            <td>
                个人标签，用逗号分开，可不填<br>
            <td><input type="text" name="register_tag"/></td>
            </td>
        </tr>
        <tr>
            <td colspan=2>
                <input type="reset"/>
                <input type="submit"/>
            </td>
        </tr>
    </table>
</form>
</body>
</html>